.contianer2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 5px;
    position: inherit;
    text-align: center;
}

.card-body {
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
}